* {
    box-sizing: border-box;
}

body>header {
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
}

header img {
    width: 22%;
    height: 58%;
}

header ion-icon {
    color: black;
    font-size: 40px;
}

main {
    background-color: #E5E5E5;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.mensagem {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin: 2px 0;
    
}

.mensagem span {
    width: 100%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow-wrap: break-word;
}

.message {
    background-color: white;
}

.status {
    background-color: #DCDCDC;
}

.private_message {
    background-color: #FFDEDE;
}


.hora-mensagem {
    color: #818181;
}

strong {
    font-weight: 700;
}

footer {
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
}

input {
    border: none;
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    font-style: italic;
}

footer ion-icon {
    font-size: 22px;
    color: black;
}

footer>div>p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10px;
}

.transparencia {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 69%;
    height: 100%;
    z-index: 99;
    background-color: white;
    overflow-y: scroll;
}



aside header {
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.contatos {
    width: 100%;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 17px 8px 17px;
}

.contato>div {
    display: flex;
    align-items: center;
}

.icone-grande {
    font-size: 25px;
    margin-right: 8px;
    min-width: 25px;
}

.contato span {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-break: break-all;
}

.contato .check {
    color: #28BB25;
    font-size: 12px;
    min-width: 12px;
}

.contatos p {
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.pagina-inicial {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.pagina-inicial>img {
    width: 130px;
    height: 92px;
    margin-top: 72px;
    margin-bottom: 94px;
}

.pagina-inicial>input {
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 260px;
    height: 54px;
    margin-bottom: 15px;
}

.pagina-inicial>input::placeholder {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #AEAEAE;
    text-align: center;
}

.pagina-inicial>button {
    background-color:#E7E7E7;
    border: none;
    border-radius: 9px;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #696969;
    
}

.display-none {
    display: none;
}

